@import '~@angular/material/theming';

@mixin card-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .bar-card {
    // retrieve particular color from variable, rg: text, base, divider, ...
    color: mat-color($background, card);
    background-color: mat-color($primary, 400);
    border: 1px solid mat-color($accent);

    mat-icon {
      border-color: mat-color($background, card);
    }
  }
}
