.category-card {
  cursor: pointer;

  mat-icon {
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    font-size: 100px;
    height: 200px;
    padding: 50px;
    width: 200px;
  }
}
