<mat-card
  class="category-card bar-card"
  (click)="openCategory()">
  <mat-card-header>
    <mat-card-title>{{categoryDetails?.name}}</mat-card-title>
  </mat-card-header>
  <mat-icon>restaurant</mat-icon>
</mat-card>
