<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{title}}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" routerLink="..." routerLinkActive="active"translate>APP_NAME</a>
  </div>
  <span fxFlex></span>
  <button mat-button routerLink="/cart" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-button routerLink="/cart" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
