<div class="table-container">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name" > Nombre </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        matTooltipPosition="left"
        (click)="addToCart(element)"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header="price"> Precio </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="addToCart(element)"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> Cantidad </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="addToCart(element)"> {{element.quantity}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
      <mat-header-cell *matHeaderCellDef mat-sort-header="available"> Disponibilidad </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="addToCart(element)"> {{element.available}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      matTooltip="Add to Cart"
      matTooltipPosition="left"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="paginatorLength"
                 [pageSize]="10"
                 [pageSizeOptions]="[2, 5, 10, 20]">
  </mat-paginator>
</div>
