<div
  fxLayout="column"
  class="search-container">
  <mat-checkbox
    [(ngModel)]="productFilters.available">
    Disponibilidad
  </mat-checkbox>
  <mat-form-field >
    <input
      [(ngModel)]="productFilters.quantity"
      matInput
      placeholder="Cantidad"
      min="0"
      type="number">
  </mat-form-field>
  <mat-form-field >
    <input
      [(ngModel)]="productFilters.minPrice"
      matInput
      placeholder="Min Price"
      min="0"
      type="number">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <mat-form-field >
    <input
      [(ngModel)]="productFilters.maxPrice"
      matInput
      placeholder="Max Price"
      min="0"
      type="number">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <button
    color="primary"
    mat-raised-button
    (click)="searchProducts()">
      Filtrar
  </button>
</div>
