@import '~vars.scss';


.breadcrumb-container {
  text-align: left;

  .title-container{
    display: inline-block;

    .title {
      color: rgba(0, 0, 0, 0.54);
      text-decoration: none;
    }
  }

  .list {
    display: inline-block;
    padding-left: 0;

    .element {
      display: inline-block;

      .name {
        border-radius: 7%;
        padding: 0 3px 1px 3px;
        background-color: $alto;
      }

      .back-element {
        background-color: $silver;
      }

      .last-element {
        background-color: $burnt-sienna;
        color: $white;
      }
    }
  }

  .home-icon {
    font-size: 20px;
    vertical-align: middle;
  }

  .arrow-icon {
    vertical-align: middle;
  }

  a {
    cursor: pointer;
  }
}
