<div class="breadcrumb-container">
  <ol class="list">
    <li
      *ngIf="sections.length"
      class="element">
        <a
          class="name back-element"
          (click)="resetCategories()">
            <mat-icon
              class="home-icon">
                home
            </mat-icon>
            Categor&iacute;as
        </a>
    </li>
    <li
      class="element"
      *ngFor="let section of sections; let first = first; let i = index; let last = last;">
      <mat-icon
        class="arrow-icon">
          keyboard_arrow_right
      </mat-icon>
      <a
         *ngIf="i === sections.length - 2"
         [ngClass]="{'back-element': i === sections.length - 2}"
         class="name"
         (click)="openCategory(section)">
          {{section.name}}
      </a>
      <span
        *ngIf="i !== sections.length - 2"
        class="name"
        [ngClass]="{'last-element': last}">
          {{section.name}}
      </span>
    </li>
  </ol>
</div>
