@import '~vars.scss';


.cart-container{
  margin-top: 64px;

  mat-nav-list {
    margin-bottom: 20px;

    div[mat-list-item] {
      border-bottom: 1px dotted $burnt-sienna;
      margin-bottom: 5px;

      mat-icon {
        text-align: right;
        cursor: pointer;
      }
    }
  }

}
