<mat-card class="cart-container">
  <mat-card-content>
    <mat-card-subtitle
      *ngIf="!(products | async)?.length">
        No posse ningun producto en el carrito de compras
    </mat-card-subtitle>
    <mat-nav-list
      *ngIf="(products | async)?.length">

      <div mat-list-item
        *ngFor="let product of products | async; let index = index"
        fxLayout
        fxLayoutGap="20px">
        <div fxFlex="60%">{{ product.name }}</div>
        <div fxFlex="15%" class="right">{{ product.price }}</div>
        <div fxFlex="15%" ><span contenteditable="true">{{ product.quantity }}</span> Qty.</div>
        <mat-icon
          fxFlex="10%"
          (click)="removeFromCart(index)">
            close
        </mat-icon>
      </div>
    </mat-nav-list>
    <button
      color="primary"
      mat-raised-button
      *ngIf="(products | async)?.length"
      (click)="buyProducts()">
        Comprar
    </button>
  </mat-card-content>
</mat-card>
