.container {
  text-align: center;
  margin-top: 64px;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

bar-products{
  width: 100%;
}

mat-card {
  &.results, &.filters {
    margin-top: 10px;
  }
}

.search-container {

  .search-form {
    width: 100%;
  }
}
