<div class="container">
  <p>
    <img class="logo" src="assets/baraton-logo.png" alt="angular logo"/>
  </p>

  <mat-card>
    <mat-card-content>
      <mat-card-subtitle>
        <bar-breadcrumb
          [sections]="categoriesOpened"
          (openSubCategories)="openSubCategories($event)"
          (reset)="resetCategories()"></bar-breadcrumb>
        <bar-loader [isLoading]="isLoading" size="1.5"></bar-loader>
      </mat-card-subtitle>
      <div
        [hidden]="isLoading"
        fxLayout
        fxLayout.xs="column"
        fxLayoutGap="10px"
        fxLayoutAlign="center">
        <bar-category-card
          fxFlex="30%"
          *ngFor="let cat of categories"
          [categoryDetails]="cat"
          (openSubCategories)="openSubCategories($event)">
        </bar-category-card>
        <div
          class="search-container"
          fxFlex="100%"
          *ngIf="!categories">
          <mat-form-field class="search-form">
            <input matInput (keyup)="searchByName($event.target.value)" placeholder="Nombre de producto">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap="20px"
    *ngIf="products?.length">
    <mat-card
      class="filters"
      fxFlex="30%">
      <mat-card-content>
        <bar-product-filters
          (search)="searchByFilters($event)">
        </bar-product-filters>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="results"
      fxFlex="70%">
      <mat-card-content>
        <bar-product-list
          [elements]="products"
          [search]="productFilters">
        </bar-product-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
